<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      
      <!-- In memory score store -->
      <register type="DomainModel.Contracts.IScoreStore, DomainModel" mapTo="LocalScoreStores.Services.MemoryScoreStore, LocalScoreStores">
        <lifetime type="singleton" />
      </register>
      <!-- -->
      
      <!-- File score store
      <register type="DomainModel.Contracts.IScoreStore, DomainModel" mapTo="LocalScoreStores.Services.FileScoreStore, LocalScoreStores">
        <lifetime type="singleton" />
        <constructor>
          <param name="filePath">
            <value value=".\scores.csv" />
          </param>
        </constructor>
      </register>
      -->
      
      <!-- Remote score client
      <register type="DomainModel.Contracts.IScoreStore, DomainModel" mapTo="RemoteScoreClient.Services.RemoteScoreStore, RemoteScoreClient">
        <lifetime type="singleton" />
        <constructor>
          <param name="leaderboardsEndpointUrl">
            <value value="http://localhost:49651/api/Leaderboards" />
          </param>
        </constructor>
      </register>
      -->
      
    </container>
  </unity>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>



